body {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    display: table;
    Background: black;
    background-position: center top;
    color: #39ff14;
    font-family: 'Ineconsolata';
    font-size: 1.7em;
    line-height: 1.2em;
  }
  body xmp {
    display: none;
  }
  